
header{
    display: flex;
    flex-grow: 0;
    padding-bottom: 3em;
    size: 24px;
    color: #F9FAF8;
}

.title{
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1f2937;
}

ul{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.title a {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    color: #E5E7EB;
}

.left h1{
    size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.left p{
    size: 18px;
    color: #E5E7EB;
}

.left{
    width: 49%;
    height: 200px;
    display: inline-block;
    padding-bottom: 50px;
    
}

.right {
    width: 50%;
    height: 200px;
    display: inline-block;
}

.right img {
    width:100%;
    height:100%;
}

h2{
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.box img{
    display: flex;
    width: 200px;
    height: 100px;
}

.box{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
}

.info{
    max-width: 200px;
    text-align: center;
}

h4{
    display: flex;
    text-align: left;
    font-size: 36px;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 0;
}

h5{
    display: flex;
    margin-top: 0;
    justify-content: end;
    padding-right: 250px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
    font-size: 24px;
}